In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\dell\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

In [5]:
conn=pymysql.connect( # "pymysql.connect" used for connection
    host="localhost",
    user="root",
    password="learn@mysql1",
    database="students_db"
)

In [7]:
cursor=conn.cursor()

In [9]:
cursor.execute("select * from students_info;")  

# Fetch all rows returned by the query
results = cursor.fetchall()

for row in results:
    print(row)

(1, 'Kuldeep', 'Yadav')
(2, 'Vedant', 'Kalal')
(3, 'Rahul', 'Patel')
(4, 'Aarav', 'Singh')
(5, 'Test', 'Student')

In [11]:
data=[(6,"Tirth","Popat"),(7,"mann","obroi")]
cursor.executemany("insert into students_info (roll_num,first_name,last_name) values (%s,%s,%s);",data)

2

In [15]:
cursor.execute("select * from students_info")
# Fetch the first row from the result set
row=cursor.fetchone()
print(row)

(1, 'Kuldeep', 'Yadav')

In [23]:
cursor.execute("select * from students_info")
rows=cursor.fetchmany(4)  # Fetch first 4 rows from the result set
for row in rows:
    print(row)

(1, 'Kuldeep', 'Yadav')
(2, 'Vedant', 'Kalal')
(3, 'Rahul', 'Patel')
(4, 'Aarav', 'Singh')

In [25]:
print("Last Inserted Roll_num:",cursor.lastrowid)

Last Inserted Roll_num: None

In [27]:
cursor.execute("update students_info set first_name='KULDEEP' where roll_num=1;")
# Print the number of rows affected by the update operation
print("rows affected:",cursor.rowcount)

rows affected: 1

In [29]:
cursor.execute("select * from students_info")
# Fetch the first row from the result set
row=cursor.fetchone()
print(row)

(1, 'KULDEEP', 'Yadav')

In [31]:
# Close the cursor object to free up resources on the server.
cursor.close()

# Close the database connection to release the connection to the connection pool (or fully disconnect).
conn.close()